<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

	
        <title>用户管理</title>

        <link href="__PUBLIC__/assets/bootstrap/css/style.default.css" rel="stylesheet">
        <link href="__PUBLIC__/assets/bootstrap/css/select2.css" rel="stylesheet" />		
        <link href="__PUBLIC__/assets/bootstrap/css/jquery.dataTables.min.css" rel="stylesheet">
    </head>

    <body>
        <block name="header">
           <include file="block/header"/>
        </block>
        <section>
            <div class="mainwrapper">
			   <block name="left">
			   <include file="block/left" />
               </block>
                
                <div class="mainpanel">
                    <div class="contentpanel">
                       
                        <div class="panel panel-title-head">
                        <div class="search_banner">
                             <div class="pull-left col-md-1">
	                                <a class="btn btn-info btn-large" href="../Account/userAdd">添加用户</a>
	                          </div> 
	                          
	                          <div style="clear:both"></div>
                         </div>   
                            <table id="basicTable" class="table table-striped table-bordered responsive">
                                <thead class="">
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <th>用户账号</th>
                                        <th>用户名称</th>
                                        <th>用户权限</th>
                                        <th>有权号码</th>
                                        <th>工作站</th>
                                        <th>管理</th>
                                    </tr>
                                </thead>
                         
                                <tbody>
                                  <tr role="row" class="odd"><td>1</td><td>admin</td><td class="sorting_1">超级管理员</td><td>查询,删除,管理,锁定</td><td>8632</td><td>8632</td><td><a href="./userEdit">编辑</a>|删除</td></tr>
                                  <tr role="row" class="even"><td>1</td><td>lzm</td><td class="sorting_1">超级管理员</td><td>查询,删除,管理,锁定</td><td>8632</td><td>8632</td><td><a href="./userEdit">编辑</a>|删除</td></tr>
                                </tbody>
                            </table>
                        </div><!-- panel -->
                        
                        
                            
                           
                        </div><!-- panel -->
                      
                        
                    </div><!-- contentpanel -->
                </div><!-- mainpanel --><!-- mainpanel -->
            </div><!-- mainwrapper -->
            
            
        </section>
		
        <script src="__PUBLIC__/assets/bootstrap/js/jquery-1.11.1.min.js"></script>
        <script src="__PUBLIC__/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="__PUBLIC__/assets/bootstrap/js/custom.js"></script>
	
		
    </body>
</html>
